@{
Layout = "../Shared/_AdminLayout.cshtml";
ViewData["Title"] = "Cursos";
}
@model PaginatedList<GenericCourses.Application.Features.Admin.Courses.GetCoursesAdminResponse>

	<section class="h-auto flex flex-col center w-full">
		<div class="flex flex-col center card w-full bg-base-100">
			<div class="card-body w-full bg-base-200/50 rounded-md">
				<div class="w-full flex justify-between items-center">
					<h1 class="text-accent text-3xl font-bold mb-4 ">Cursos</h1>
					<a class="btn btn-primary" href="~/admin/courses/new">
						<i class="bi bi-plus-lg"></i>
						Novo Curso
					</a>
				</div>
				<div class="overflow-x-auto w-full p-2 ">
					<table class="table text-white ">
						<thead>
							<tr class="text-white text-lg">
								<th>Titulo </th>
								<th>Instrutor</th>
								<th>Ativo</th>
								<th>Tipo</th>
								<th>Criado em</th>
								<th>Atualizado em</th>
								<th>Qt. Modulos</th>
								<th>Modulos</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model){
							<tr>
								<td>@item.title</td>
								<td>@item.instructor</td>
								<td>
									@if (item.active){
									<span class="badge badge-success">Ativo</span>
									}else{
									<span class="badge badge-error">Inativo</span>
									}
								</td>
								<td>
									@if(item.is_free){
									<span class="badge badge-success ">Gratuito</span>
									}else{
									<span class="badge badge-error ">Pago</span>
									}
								</td>
								<td>@item.created_at</td>
								<td>@item.updated_at</td>
								<td>@item.modules</td>
								<td><a href="~/admin/courses/@item.id/modules" class="link link-primary">Ver
										Modulos</a></td>
								<td>
									<div class="flex gap-4 ">
										<button class="btn btn-sm ">
											<i class="bi bi-pencil"></i>
										</button>
										<button class="btn btn-sm btn-error">
											<i class="bi bi-trash"></i>
										</button>
									</div>
								</td>
							</tr>
							}
						</tbody>
					</table>
				</div>

				<div class="w-full flex justify-between items-center mt-8">
					<div class="text-white">
						Mostrando <span>1 de 100</span>
					</div>
					<div class="join">
						<a class="join-item btn">«</a>
						<a class="join-item btn" href="#">1</a>
						<a class="join-item btn" href="#">2</a>
						<a class="join-item btn" href="#">3</a>
						<a class="join-item btn">»</a>
					</div>
				</div>

			</div>
		</div>
	</section>
