@{
Layout = "../Shared/_AdminLayout.cshtml";
ViewData["Title"] = "Videos";
}
@model PaginatedList<GenericCourses.Application.Features.Admin.Courses.GetVideosResponse>

	<section class="h-auto flex flex-col center w-full" x-data="page">

		@await Html.PartialAsync("_ConfirmModal")

		<div class="flex flex-col center card w-full bg-base-100">
			<div class="card-body w-full bg-base-200/50 rounded-md">
				<div class="w-full flex justify-between items-center">
					<h1 class="text-accent text-3xl font-bold mb-4 ">Videos</h1>
					<a class="btn btn-primary" href="videos/new">
						<i class="bi bi-plus-lg"></i>
						Adicionar Video
					</a>
				</div>
				<div class="overflow-x-auto w-full p-2 ">
					<table class="table text-white ">
						<thead>
							<tr class="text-white text-lg">
								<th>Ordem</th>
								<th>Titulo </th>
								<th>Criado em</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							@foreach(var item in Model){
							<tr>
								<td>@item.order</td>
								<td>@item.title</td>
								<td>@item.created_at</td>
								<td>
									<div class="flex gap-4 ">
										<button class="btn btn-sm " @@click="edit_modal">
											<i class="bi bi-pencil"></i>
										</button>
										<button class="btn btn-sm btn-error"
											@@click="delete_modal('@item.title','@item.id')">
											<i class="bi bi-trash"></i>
										</button>
									</div>
								</td>
							</tr>
							}
						</tbody>
					</table>
				</div>

				@if(Model.TotalPages>1){
					@await Html.PartialAsync("../Shared/Partials/AdminPaginator.cshtml", Model.pagination());
				}

			</div>
		</div>
	</section>

	@section Scripts{
	<script defer>
		document.addEventListener('alpine:init', () => {
			Alpine.data('page', () => ({
				confirm_txt: "",
				frm_confirm: document.querySelector("#frm_confirm"),
				init(){
					const easymde = new EasyMDE({
						element: document.getElementById('editor'),
					});
				},

				delete_modal(name,id) {
					this.confirm_txt = "Voce realmente deseja deletar " + name + "?"
					this.frm_confirm.setAttribute("action", location.href+"/" + id)
					confirm_modal.showModal();
				}
			})
			)
		})	
	</script>
	}
